*{
    text-align: center;
    line-height: 20px;

}
.par{
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 100px;
}
.carousel{
    overflow-x:hidden;
    overflow-y:hidden;
    text-align: center;
}

.title {
    font-size: 60px;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 80px;
}
.title__2{
    margin-top: 100px;
    margin-bottom: 50px;
}

.image1{
    width: 90%;
    height: 560px;
    object-position: 50% 50%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .login__container {
      background-color: transparent;
      border: none;
      padding: 0px;
      width: 100%;
      align-items: center;
    }
  
    .footer {
      align-items: flex-start;
      flex-direction: column;
    }
  }